.App {
  text-align: center;
}
.home{
    color:red ;
    text-decoration: none;
}

.name{
  width: 40%;
  align-items: left;
}
.navbar{
  
  color: red;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  
}